<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Warp is a simple web application which shorten your URL."/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="https://ui.aiursoft.com/favicon.ico">
    <title>Home - Aiursoft Warp</title>
    <link rel="stylesheet" href="https://ui.aiursoft.com/dist/AiurMarket.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="https://www.aiursoft.com">Aiursoft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Subscribe</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@RenderBody()

<footer class="bd-footer text-muted">
    <div class="container p-3 p-md-5">
        <ul class="bd-footer-links">
            <li>
                <a href="https://www.aiursoft.com">Home</a>
            </li>
            <li>
                <a href="https://wiki.aiursoft.com">Wiki</a>
            </li>
            <li>
                <a href="https://status.aiursoft.com">Status</a>
            </li>
            <li>
                <a href="https://developer.aiursoft.com">Developer</a>
            </li>
            <li>
                <a href="https://github.com/AiursoftWeb">Company</a>
            </li>
            <li>
                <a href="https://github.com/AiursoftWeb">GitHub</a>
            </li>
            <li>
                <a href="https://www.aiursoft.com/docs/terms">Terms</a>
            </li>
            <li>
                <a data-language-change-link href="https://gateway.aiursoft.com/set-language">Language</a>
            </li>
        </ul>
        <p>
            &copy; @DateTime.UtcNow.Year - Aiursoft
        </p>
    </div>
</footer>

<script src="https://ui.aiursoft.com/dist/AiurMarket.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>