root = true
[*]

# Namespace is simplified.
resharper_check_namespace_highlighting=none

# Allow unused auto property get.
resharper_unused_auto_property_accessor_global_highlighting=suggestion

# Suppress Null reference warning
resharper_possible_null_reference_exception_highlighting=warning
