@model Aiursoft.NugetNinja.WebPortal.Models.ViewModels.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <form class="container" method="post" asp-controller="Home" asp-action="Subscribe">
        <div class="col-12">
            <h3>Welcome to Aiursoft Nuget Ninja!</h3>
            <p>Nuget Ninjia is a tool for detecting dependencies of .NET projects.</p>
            <p>It analyzes the dependency structure of .NET projects in a directory and builds a directed acyclic graph. And will give some modification suggestions, so that the dependencies of the project are as concise and up-to-date.</p>
        </div>

        <div class="col-12 mb-3 mt-5">
            <div class="form-group">
                <input type="url" class="form-control form-control-lg" asp-for="GitHubRepositoryUrl"
                       placeholder="Input the GitHub C# repository address. Example: https://github.com/Org/Repo"/>
                <span asp-validation-for="GitHubRepositoryUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-lg btn-success mb-3">
                <i class="fas fa-random"></i> Subscribe Nuget Ninja Pull requests
            </button>
        </div>
    </form>
</div>